<a href="https://colab.research.google.com/github/aadomingos/day_off_demand/blob/master/day_off_demand_shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving HistoricalEMSHourlyLoad-2018.xlsx to HistoricalEMSHourlyLoad-2018.xlsx
Saving HistoricalEMSHourlyLoad-2019.xlsx to HistoricalEMSHourlyLoad-2019.xlsx
Saving CAISO-demand-20200316.csv to CAISO-demand-20200316.csv
User uploaded file "HistoricalEMSHourlyLoad-2018.xlsx" with length 898003 bytes
User uploaded file "HistoricalEMSHourlyLoad-2019.xlsx" with length 998864 bytes
User uploaded file "CAISO-demand-20200316.csv" with length 7009 bytes

In [0]:
import pandas as pd
import numpy as np

In [24]:
day_off_df = pd.read_csv('CAISO-demand-20200316.csv')
day_off_df.head(25)

      Demand 03/16/2020  00:00  00:05  00:10  ...  23:45  23:50  23:55  00:00.1
0    Day ahead forecast  21408  20722  20722  ...  23053  23053  23053  23053.0
1   Hour ahead forecast  20800  20551  20551  ...  22287  22088  22088  22088.0
2  Demand (5 min. avg.)  20596  20523  20481  ...  22244  22151  22037      NaN

[3 rows x 290 columns]

In [25]:
day_off_df = day_off_df.set_index('Demand 03/16/2020').T
day_off_df.head(5)

Demand 03/16/2020  Day ahead forecast  ...  Demand (5 min. avg.)
00:00                         21408.0  ...               20596.0
00:05                         20722.0  ...               20523.0
00:10                         20722.0  ...               20481.0
00:15                         20722.0  ...               20398.0
00:20                         20722.0  ...               20317.0

[5 rows x 3 columns]

In [0]:
day_off_df.drop(columns=['Day ahead forecast','Hour ahead forecast'], inplace=True)
day_off_df.rename(columns={'Demand 03/16/2020':'Hour', 'Demand (5 min. avg.)':'Demand'}, inplace=True)

In [30]:
day_off_df

Demand 03/16/2020   Demand
00:00              20596.0
00:05              20523.0
00:10              20481.0
00:15              20398.0
00:20              20317.0
...                    ...
23:40              22339.0
23:45              22244.0
23:50              22151.0
23:55              22037.0
00:00.1                NaN

[289 rows x 1 columns]

Index(['00:00', '00:05', '00:10', '00:15', '00:20', '00:25', '00:30', '00:35',
       '00:40', '00:45',
       ...
       '23:15', '23:20', '23:25', '23:30', '23:35', '23:40', '23:45', '23:50',
       '23:55', '00:00.1'],
      dtype='object', length=289)