<a href="https://colab.research.google.com/github/aadomingos/work_from_home/blob/work_from_home/day_off_demand_shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First we need to upload our data from Google Drive:

## Upload historical data

In [0]:
# mount your Google Drive to access files
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
import numpy as np
import glob

In [0]:
# write path to your Google Drive folder that contains the data (from http://oasis.caiso.com/mrioasis/logon.do?reason=application.baseAction.noSession)
path = '/content/drive/My Drive/Colab Notebooks/data/CAISO Data/Historical Data/Monthly Data'

# use glob to iterate through files contained in the folder
data_files = glob.glob(path + "/*.csv")

# concatenate CSV files into one dataframe
historical_data = pd.concat([pd.read_csv(file, 
                                         usecols=['INTERVALSTARTTIME_GMT', 'INTERVALENDTIME_GMT', 'OPR_DT', 
                                                  'OPR_HR', 'TAC_AREA_NAME', 'POS', 'MW', 'GROUP']) for file in data_files])
# historical_data.head(10)

In [0]:
# columns to iterate
datetimeColumns = ['INTERVALSTARTTIME_GMT',	'INTERVALENDTIME_GMT', 'OPR_DT']

# convert columns to datetime
historical_data.loc[:, datetimeColumns] = historical_data.loc[:, datetimeColumns].apply(pd.to_datetime)

In [70]:
# convert datetime columns to correct timezone 
historical_data['INTERVALSTARTTIME_GMT'] = historical_data['INTERVALSTARTTIME_GMT'].dt.tz_convert('America/Los_Angeles')
historical_data['INTERVALENDTIME_GMT'] = historical_data['INTERVALENDTIME_GMT'].dt.tz_convert('America/Los_Angeles')

# historical_data.head(10)

      INTERVALSTARTTIME_GMT       INTERVALENDTIME_GMT  ...    MW  GROUP
0 2019-03-01 18:00:00-08:00 2019-03-01 19:00:00-08:00  ...  3001      1
1 2019-03-01 20:00:00-08:00 2019-03-01 21:00:00-08:00  ...  2876      1
2 2019-03-01 22:00:00-08:00 2019-03-01 23:00:00-08:00  ...  2558      1
3 2019-03-01 19:00:00-08:00 2019-03-01 20:00:00-08:00  ...  2960      1
4 2019-03-01 07:00:00-08:00 2019-03-01 08:00:00-08:00  ...  2971      1
5 2019-03-01 09:00:00-08:00 2019-03-01 10:00:00-08:00  ...  2519      1
6 2019-03-01 14:00:00-08:00 2019-03-01 15:00:00-08:00  ...  2417      1
7 2019-03-01 23:00:00-08:00 2019-03-02 00:00:00-08:00  ...  2424      1
8 2019-03-01 03:00:00-08:00 2019-03-01 04:00:00-08:00  ...  2478      1
9 2019-03-01 04:00:00-08:00 2019-03-01 05:00:00-08:00  ...  2705      1

[10 rows x 8 columns]

In [71]:
# find all the different TAC area names
historical_data.TAC_AREA_NAME.unique()

array(['AZPS', 'BCHA', 'CA ISO-TAC', 'IPCO', 'MWD-TAC', 'NEVP', 'PACE',
       'PACW', 'PGE', 'PGE-TAC', 'PSEI', 'SCE-TAC', 'SDGE-TAC', 'VEA-TAC',
       'BANCSMUD', 'SCL', 'SRP'], dtype=object)

In [0]:
# groupby TAC Area Name
historical_data_TACs = historical_data.groupby('TAC_AREA_NAME')
# historical_data.head(25)

In [73]:
historical_data_TACs.get_group('CA ISO-TAC')

          INTERVALSTARTTIME_GMT       INTERVALENDTIME_GMT  ...     MW  GROUP
48    2019-03-01 02:00:00-08:00 2019-03-01 03:00:00-08:00  ...  19672      3
49    2019-03-01 17:00:00-08:00 2019-03-01 18:00:00-08:00  ...  25072      3
50    2019-03-01 14:00:00-08:00 2019-03-01 15:00:00-08:00  ...  22458      3
51    2019-03-01 07:00:00-08:00 2019-03-01 08:00:00-08:00  ...  24109      3
52    2019-03-01 13:00:00-08:00 2019-03-01 14:00:00-08:00  ...  22763      3
...                         ...                       ...  ...    ...    ...
10899 2020-03-31 10:00:00-07:00 2020-03-31 11:00:00-07:00  ...  20854    456
10900 2020-03-31 23:00:00-07:00 2020-04-01 00:00:00-07:00  ...  20610    456
10901 2020-03-31 05:00:00-07:00 2020-03-31 06:00:00-07:00  ...  20234    456
10902 2020-03-31 11:00:00-07:00 2020-03-31 12:00:00-07:00  ...  20224    456
10903 2020-03-31 21:00:00-07:00 2020-03-31 22:00:00-07:00  ...  23097    456

[1486 rows x 8 columns]

In [0]:
# find differences in load shape based on the TAC Area

In [0]:
# # split out last year's data
# this_year = historical_data[historical_data['OPR_DT'] >= '2020']

In [0]:
# # split out this year's data
# last_year = historical_data[historical_data['OPR_DT'] <= '2020']

In [0]:
# !pip install stumpy